@import "../../styles/variables.scss";

/* start Banner */
.banner {
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-image 0.5s ease-in-out;

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  .content {
    text-align: center;
    z-index: 1;

    h1 {
      color: #fff;
      font-size: 3rem;
      margin-bottom: 1rem;
    }

    p {
      color: #fff;
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }

    button {
      background-color: var(--primary-color);
      border: none;
      padding: 1rem 2rem;
      font-size: 1rem;
      border-radius: 5px;
      color: white;
    }
  }
}
/* start Progress bar */
.bar-wrapper {
  width: 75%;
  margin: 40px auto;
}
.progress-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.label-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.label {
  font-weight: bold;
}

.percentage {
  color: var(--primary-color);
}

.custom-progress-bar {
  border-radius: 0.25rem;
  background-color: #fff;
  overflow: hidden;
  height: 22px;
  border: 1px solid var(--primary-color);
}

.custom-progress-bar .progress-bar {
  background-color: var(--primary-color);
  transition: width 0.5s ease-in-out;
}

.custom-progress-bar .progress-bar-striped {
  background-image: repeating-linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0.15) 7px,
    transparent 0,
    transparent 14px
  );
}

.custom-progress-bar .progress-bar-animated {
  animation: progress-bar-stripes 1s linear infinite;
}

@keyframes progress-bar-stripes {
  from {
    background-position-x: 1rem;
  }
  to {
    background-position-x: 0;
  }
}

/* end Progress bar */

/* start Competences */

.competences-container {
  background-color: #f5f5f5;
  padding: 50px 0;
}

.competence {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px; /* adjust the height as needed */
}

.competence h3 {
  font-size: 1.5rem;
  margin-left: 10px;
  margin-top: 15px;
}

/* Home.scss */

/* Center the content of the competence div */

/* Style the HTML5 SVG icon */
.html-svg {
  color: #e44d26;
  font-size: 10em;
}

/* Style the CSS3 SVG icon */
.css-svg {
  color: #264de4;
  font-size: 10em;
}

/* Style the Figma SVG icon */
.figma-svg {
  color: #000;
  font-size: 10em;
}

/* Style the Sass SVG icon */
.scss-svg {
  color: #cd6799;
  font-size: 10em;
}

/* Style the JavaScript SVG icon */
.js-svg {
  color: #f0db4f;
  font-size: 10em;
}

/* Style the React SVG icon */
.react-svg {
  color: #61dafb;
  font-size: 10em;
}
.adobe-svg {
  margin-top: 50px;
  font-size: 10em;
  color: #000; /* set the default color for the SVG */
}
.git-svg {
  margin-top: 50px;
  font-size: 10em;
  color: #f05032; /* set the default color for the SVG */
}
.github-svg {
  margin-top: 50px;
  font-size: 10em;
  color: black; /* set the default color for the SVG */
}
.node-svg {
  margin-top: 50px;
  font-size: 10em;
  color: #68a063; /* set the default color for the SVG */
}
.tailwind-svg {
  margin-top: 50px;
  font-size: 10em;
  color: #38b2ac; /* set the default color for the SVG */
}
.mongo-svg {
  margin-top: 50px;
  font-size: 10em;
  color: #4db33d; /* set the default color for the SVG */
}

/* end Competences */
