// variables.scss

//fonts

$body-font-family: "Montserrat", "sans-serif";

// colors
// variables.scss

:root {
  --primary-color: #ff9800;
}

$secondary-color: #e5e5e5;
$font-family: "Montserrat", sans-serif;
